<%= flash[:error] %>
<div class="container">
<div>
<div class="image">Images</div>
<div class="card">
<h1 class="header"><%=@user.name %></h1>
<p class="footer">Number of posts: <%=@user.posts_counter %></p>
</div>
</div>
<% @posts.each do |post| %>
<div class="post">
<p><%=post.title %></p>
<p><%=post.text %></p>
<p class="footer">Comments: <%=post.comments_counter %>,
Likes: <%=post.likes_counter %></p>
</div>
<div>
<% post.recent_comments.each do |comment| %>
 <div class="bio"><%= comment.author.name %>:  <%= comment.text %></div>
<% end %>
</div>
<% end %>
<button class="btn"><a href="">Pagination</a></button>
<div>