<div class="container">
<div class="bio">
<%=@post.title %> by
<%=@user.name %>
<p class="footer">Comments: <%=@post.comments_counter %>,
Likes: <%=@post.likes_counter %></p>
<p><%=@post.text %></p>
</div
<div>
<% @comments.each do |comment| %>
    <div class="bio"><%= comment.author.name %>:  <%= comment.text %></div>
<% end %>    
<div>
</div>